<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RabbitConfig" type="RabbitMQ.Wrapper.RabbitConfig, RabbitMQ.Wrapper"/>
  </configSections>
  <RabbitConfig UserName="admin" Password="admin" HostName="localhost" Port="5672" VirtualHost="/" />
</configuration>